
.jumbotrons {
  font-size: 4vh;
  width: 90vw;
}

.home-content-container h1 {
  font-size: 4vh;
}

.home-content-container h2 {
  font-size: 3vh;
  font-weight: 400;
}

#magazine-cite {
  width: 70vw;
  max-width: 70vw;
  font-weight: 600;
  line-height: 1.2;
}

#magazine-cite h3 {
  font-size: 2vh;
}

.home {
  width: 100%;
}

/* Services */

.services {
  display: flex;
  flex-direction: column;
  height: auto;

}

.services a {
  width: 100%;
}

.service {
  width: 100%;
}

/* Portfolio */


.carosel {
  width: 100vw;
}

.portfolio-section {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}
/* Contact */

.contact-section h1 {
  font-size: 3vh;
}

.contact-section h2 {
  font-size: 2vh;
}

.contact-sections {
  display: flex;
  flex-direction: column;
}

.contact-section {
  width: 80vw;
  justify-content: center;
  display: flex;
  align-items: center;
}

.mailto {
  width: 60vw;
  font-size: 3vh;
  margin-top: 2vh;
}

form {
  width: 80vw;
}

.form-title {
  margin-bottom: 2vh;
}

/* Footer */
