nav img {
  display: none;
}



/* Services */

.services {
  display: flex;
  flex-direction: column;
  height: auto;

}

.services a {
  width: 100%;
}

.service {
  width: 100%;
}

/* Portfolio */


.carosel {
  width: 100vw;
}

.portfolio-section {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}

.carosel {
  width: 100vw;
}
/* Contact */

.contact-section h1 {
  font-size: 3vh;
}

.contact-section h2 {
  font-size: 2vh;
}

.contact-sections {
  display: flex;
  flex-direction: column;
}

.contact-section {
  width: 80vw;
  justify-content: center;
  display: flex;
  align-items: center;
}

.mailto {
  width: 60vw;
  font-size: 3vh;
  margin-top: 2vh;
}

form {
  width: 80vw;
}

.form-title {
  margin-bottom: 2vh;
}

/* Footer */

footer {
  font-size: 1.5vh;
}
