.jumbotron {
  width: 80vw;
}

#magazine-cite {
  width: 60vw;
}

.services {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.service {
  width: 70vw;
  margin: 2vh auto;
  padding: 3vh;
}

.service-button {
  height: 5vh;
}

.portfolio-webs {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-web {
  width: 70vw;
  margin: 5vh auto;
}

.portfolio-content {
  max-width: 75vw;
}

.portfolio-content img {
  width: 75vw;
  margin: 2vh auto;
}

.portfolio-button {
  width: 40vw;
}

#portfolio {
  height: 20vh;
}

.contact-section {
  width: 35vw;
}

.contact p {
  width: 70vw;
  margin: 0 auto;
  text-align: left;
}

.contact-section h2 {
  font-size: 1.5vh;
}

form {
  width: 50vw;
}

.form-title {
  margin-bottom: 2vh;
}
