.jumbotrons {
  width: 85vw;
}

.jumbotrons h1 {
  font-size: 7vh;
}

.jumbotrons h2 {
  font-size: 4vh;
}

#magazine-cite {
  width: 60vw;
  font-size: 2vh;
}

#magazine-cite h3 {
  font-size: 2.5vh;
}
.services {
  display: flex;
  flex-direction: column;
  height: auto;

}

.services a {
  width: 100%;
}

.service {
  width: 100%;
}


.portfolio-section-title {
  text-align: center;
}

.carosel {
  width: 100vw;
}

.contact-section {
  width: 35vw;
}

.contact p {
  width: 70vw;
  margin: 0 auto;
  text-align: left;
}

.contact-section h2 {
  font-size: 1.5vh;
}

form {
  width: 50vw;
}

.form-title {
  margin-bottom: 2vh;
}
