

.aerial-intro {
  margin-bottom: 3vh;
}

.images-landscapes img {
  border: 1vh solid #555555;
}

.info-section {
  width: 40vw;
  max-height: 100vh;
}

.quals {
  height: auto;
}

.quals h1 {
  font-size: 3.5vh;
  padding: 1.5vh;
}

.book {
  margin-bottom: 1vh;
}
