nav img {
  display: none;
}

.home {
  width: 100vw;
  height: 50vh;
}

.jumbotrons {
  width: 80vw;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 4vh;
}

.jumbotrons h1 {
  font-size: 4vh;
}

.jumbotrons h2 {
  font-size: 3vh;
}

.image-gallery img {
  width: 100vw;
}

.quals {
  height: 20vh;
  margin-bottom: 5vh;
}

.images-landscapes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.images-landscapes img {
  width: 80vw;
  margin: 1vh;
  border: 1vh solid #555555;
}

.aerial-gallery {
  margin-bottom: 3vh;
}

.info-sections {
  flex-direction: column;
}

#info-title {
  width: 80vw;
  font-weight: 500;
  margin-top: 5vh;
  font-size: 5vh;
}

.info-section {
  width: 75vw;
  max-height: 300vh;
  padding: 4vh;
  margin-bottom: 4vh;
}

.info-section p {
  font-size: 2.2vh;
}

.info-section h2 {
  font-size: 4vh;
}

.info-section h1 {
  margin-top: 3vh;
}

#first-info {
  height: 100vh;
}

.typeform-share-button a {
  width: 90vw;
}

.group {
  flex-direction: column;
}

.group div {
  width: 80vw;
}

.h1-title h1 {
  font-size: 4vh;
}

.includes h2 {
  font-size: 3vh;
}

.price h1 {
  font-size: 4vh;
}

footer {
  font-size: 2vh;
}

.videos {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.videos iframe {
  width: 80vw;
  height: 20vh;
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gallery-container h3 {
  text-align: center;
  font-size: 2vh;
}

.gallery-container h1 {
  font-size: 3.5vh;
}

.quals h1 {
  font-size: 4vh;
}

.img-gallery img {
  width: 90vw;
}

.modal-content {
  max-width: 90%;
}
/* Testimonials */

.clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client {
  width: 90vw;
}

.promise {
  width: 90vw;
}
