nav img {
  display: none;
}

.home {
  height: 50vh;
  background-position: center;
}

nav {
  width: 100vw;
}

.group {
  flex-direction: column;
}

.group div {
  width: 80vw;
}

.h1-title h1 {
  font-size: 4vh;
}

.includes h2 {
  font-size: 3vh;
}

.price h1 {
  font-size: 4vh;
}

.jumbotrons {
  width: 80vw;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 4vh;
}

.jumbotrons h1 {
  font-size: 4vh;
}

.jumbotrons h2 {
  font-size: 3vh;
}

.quals {
  height: 20vh;
  margin-bottom: 5vh;
}


.photo-gallery img {
  width: auto ;
  display: flex;
  margin: 0;
  margin-bottom: 2vh;
  padding: 0;
  border: 0.5vh solid #282828;
}

footer {
  font-size: 2vh;
}


.quals h1 {
  font-size: 4vh;
}

.clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client {
  width: 90vw;
}

.promise {
  width: 90vw;
}
