nav img {
  display: none;
}

.home {
  margin-bottom: 0vh;
}

.jumbotrons {
  width: 70vw;
}

.quals h1 {
  font-size: 3.5vh;
}

.quals {
  margin-bottom: 5vh;
}

.group {
  flex-direction: column;
}

.group div {
  width: 80vw;
}


.photo-gallery img {
  width: 45vw;
  display: flex;
  margin: 0;
  margin-bottom: 2vh;
  padding: 0;
  border: 0.5vh solid #282828;
}

a.col-sm-4 {
  width: 45vw;
}


.clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client {
  width: 80vw;
}

.promise {
  width: 80vw;
}
