nav img {
  display: none;
}

.home {
  margin-bottom: 0vh;
}

.jumbotrons {
  width: 70vw;
}

.quals h1 {
  font-size: 3.5vh;
}

.quals {
  margin-bottom: 5vh;
}

.group {
  flex-direction: column;
}

.group div {
  width: 80vw;
}

.aerial-intro {
  margin-bottom: 5vh;
  text-align: center;
}

.images-landscapes img {
  width: 40vw;
  border: 0.25vh;
}

.aerial-gallery {
  margin-bottom: 5vh;
}

.info-sections {
  flex-direction: column;
}

.info-section {
  width: 70vw;
  max-height: 100vh;
  padding: 3vh;
}

#info-title {
  width: 80vw;
  text-align: center;
}

.videos iframe {
  width: 40vw;
  height: 18vh;
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-container h3 {
  text-align: center;
}

.img-gallery img {
  width: 45vw;
}

.clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client {
  width: 80vw;
}

.promise {
  width: 80vw;
}
