html,
body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif !important;
}
/* Home Content */

.home {
  height: 50vh;
  padding-top: 5vh;
  background-image: url("../images/gav4.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}


.jumbotrons {
  background-color: rgba(40, 40, 40, 0.6) !important;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1vw;
  color: white;
  text-align: center;
  border: 0.7vh white solid;
}

.jumbotrons h1 {
  font-size: 6vh;
}

.jumbotrons h2 {
  font-size: 4vh;
}

.home-content-container h1 {
  font-size: 6vh;
  font-weight: 700;
  line-height: 1.4;
}

/* quals */

.quals {
  height: 10vh;
  background-color: #282828;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.quals h1 {
  color: white;
  font-size: 5vh;
}

/* Aerial Information */

.aerial-gallery {
  display: flex;
  flex-direction: column;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.images-landscapes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 1vh;
}

.images-landscapes img {
  width: 28vw;
  margin: 1vw;
  border: 2vh solid #555555;
  background-color: #555555;

}


/* Information */

.info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e6e6e6;
  padding-top: 5vh;
}

#info-title {
  font-size: 4.5vh;
  padding-top: 6vh;
}

.info-sections {
  display: flex;
  flex-direction: row;
  padding-top: 5vh;
}

.info-section {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 3vw;
  background-color: white;
  padding: 2vw;
  max-height: 90vh;
}

.info-section h1 {
  font-size: 5vh;
  margin-bottom: 5vh;
  font-weight: 600;
}

.info-section h2 {
  font-size: 4vh;
  margin-bottom: 1vh;
  font-weight: 500;
}

.info-section p {
  font-size: 2.3vh;
  line-height: 1.2;
  margin-bottom: 2vh;
}

a {
  text-decoration: none;
}

.pay-now-button {
  background-color: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh;
  margin-top: 10vh;
  color: white;
  font-size: 3vh;
}

.pay-now-button:hover {
    background-color: #555555;
}


.portfolio-section-title {
  margin-bottom: 3vh;
  margin-top: 3vh;
  text-align: center;
  display: flex;
  justify-content: center;
}

.portfolio-section {
  margin: 0 auto;
}

.carosel {
  width: 80vw;
  margin: auto;
}

.caption {
  padding: 2vh;
  background-color: black !important;
}

#carouselExampleIndicators li {
  min-width: 5vw;
}
/* Videos */

.video-gallery img {
  width: 60vw;
}

.video-gallery {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 8vh;
  margin-bottom: 5vh;
}

.video-gallery a:hover {
  opacity: 0.4;
}

/* Prices */

.pricing {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #282828;
  padding: 3vh;
  color: white;
}

.pricing-title {
  margin-bottom: 3vh;
}

.groups {
  display: flex;
  flex-direction: column;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 0.5vh white solid;
}

.group:hover {
  color: #282828;
  background-color: white;
}

.group div {
  width: 30vw;
  padding: 2vh;
}
