html,
body {
  font-size: 2.3vh;
  font-family: 'Source Code Pro', monospace !important;
  max-width: 100%;
  background-color: #282828 !important;
}

.navbar {
  background-color: rgb(108, 54, 201) !important;
}

#navbarNavDropdown {
  background-color: rgb(108, 54, 201) !important;
}

/* Home Content */


.landing {
  display: flex;
  flex-direction: column;
  background-image: url("../images/zing1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  align-content: center;
  font-family: 'Source Code Pro', monospace;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(108, 54, 201) !important;
  color: black;
  margin-top: 5vh;
  color: white;
}

#GAV {
  color: rgb(8, 164, 255);
  background-color: #282828;
  border: 0.3vh solid rgb(8, 164, 255);
  padding: 1vh;
}

#ZING {
  color: rgb(255, 61, 61);
  background-color: #282828;
  border: 0.3vh solid rgb(255, 61, 61);
  padding: 1vh;

}

#delivery {
  color: white;
  background-color: #282828;
  border: 0.3vh solid white;
  padding: 1vh;
}


/* FAQ */

.faq {
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
  color: white;
  flex-direction: column;
}
.btn-link {
  color: white !important;
}

.accordion {
  width: 70vw;
}

.accordion button {
  font-size: 2.8vh !important;
  background-color: rgb(108, 54, 201) !important;
}

#last {
  background-color: rgb(255, 152, 33) !important;
}

.card-header, .collapsing {
  background-color: #282828 !important;
}

.accordion .collapse {
  background-color: #282828 !important
}

.card {
  border: none !important;
}

/* Features */

.platform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(189, 234, 255);
  padding-top: 5vh;
  border-bottom: 0.3vh solid white;
  border-top: 0.3vh solid white;
}

.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;

}

.boxes .card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(189, 234, 255);
  width: 19vw;
  padding: 2vh;
}

.boxes img {
  width: 15%;
}

/* Sign Up */

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: rgb(108, 54, 201);
  color: white;
}

.signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.section-block {
  display: flex;
  flex-direction: column;
  padding: 3vh;
  margin: 2vh;
  border: 0.3vh solid white;
  background-color: #282828;
  width: 45vw;
}

.section-block form {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.section-block ul {
  list-style-type: disc;
  margin-left: 5vw;
  text-align: left;
}

#first {
  padding-bottom: 5vh;
}

#two div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-block img {
  width: 50%;
}

.section-block:lastchild {
  display: flex;
  justify-content: center;
  align-items: center;
}

form label {
  padding: 2vh;
}

form select {
  background-color: #282828;
  border: 0.3vh solid white;
  color: white;
}

form button {
  border-radius: 0;
  background-color: rgb(108, 54, 201);
  border: 0.3vh solid white;
  padding: 1vh;
  color: white;
}

form input {
  background-color: #282828;
  color: white;
  border: 0.3vh solid white;
  padding: 1vh;
}

form {
  background-color: #282828;
  color: white;
  padding: 3vh;
}


/* Contact */

.contact-title {
  text-align: center;
  margin: 2vh;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vh;
  background-color: #282828;
  padding: 2vh;
}

footer {
  color: white;
}

.section {
  width: 33.34%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1;
  text-align: left;
  align-items: center;
  color: white;
}

.section img {
  width: 5vw;
}

.section h3 {
  height: 5vh;
}

.section a {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  padding: 0.5vh;
}

.section a:hover {
  color: white;
  background-color: (0,0,0,0.2);
  text-decoration: none;
}

.booknow {
  border: 0.3vh solid white;
  padding: 0.8vh;
}

.book a {
  color: white !important;
}

.section a:hover {
  background-color: rgba(255,255,255,0.5);
}
