.navbar {
  background-color: #282828 !important;
}

.navbar div li {
  font-size: 2.1vh;
  min-width: 10vw;
}

.navbar-brand {
  font-size: 3vh !important;
  padding-right: 5vw;
}

.navbar-toggler {
  max-width: 20vw;
}

div li {
  font-size: 2.3vh;
  min-width: 10vw;
}

.navbar-collapse {
  margin-left: 7vw;
}

.navbar-brand {
  font-size: 3.5vh;
}
