html {
  font-size: 2.1vh;
}

.navbar {
  background-color: #282828;
}

.navbar img {
  width: 4vw;
}

#specialnav a {
  color: rgb(84, 198, 255) !important;
  font-weight: bold;
}

.text {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
  color: white;
}



.book {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  justify-content: center;
  align-items: center;
}

.book h1 {
  font-size: 2vh;
}

.book a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  border: 0.3vh solid #282828;
  padding: 0.3vh;
}

.book a:hover {
  text-decoration: none;
  background-color: rgba(0,0,0,0.3);
  color: black;
}
