.store-sections {
  flex-direction: column;
}

.store-container {
  justify-content: center;
}

.section-listing {
  justify-content: center;
  height: 65vh;
}

.section-content {
  display: flex;
  justify-content: center;
  align-items: center;
}


.cost {
  height: 6vh;
}

.section-listing-title {
  font-size: 2.5vh;
  height: 20vh;
}

.description {
  height: 17vh;
}
