.store-sections {
  flex-direction: column;
}

.store-container {
  flex-direction: column;
  justify-content: center;
}

.section-listing {
  width: 70vw;
  justify-content: center;
  height: 60vh;
}

.section-content {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}


.snipcart-add-item {
  width: 30vw;
}

footer div {
  display: flex;
  flex-direction: column;
  text-align: center;
}
