html,
body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif !important;
  max-width: 100%;
}

/* Home Content */
.book {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  justify-content: center;
  align-items: center;
}

.book a {
  color: white !important;
  border: 0.3vh solid white !important;
  padding: 0.5vh !important;
}

.home {
  height: 100vh;
  background-image: url("../images/daytona.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.jumbotrons {
  background-color: rgba(0,0,0,0.7);
  padding: 3vh;
}

.jumbotrons h1 {
  font-size: 8vh;
}

.jumbotrons h2 {
  font-size: 3.5vh;
}



.services {
  display: flex;
  flex-direction: row;
  height: 50vh;
}

.service {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  text-align: center;
}

.services a {
  width: 33.334%;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.services a:hover {
  color: white;
  text-decoration: none;
}

.background-layer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.background-layer:hover {
  background-color: rgba(255,255,255,0.1);
}

.service-one {
  background-image: url("../images/ocean.png");
}

.service-two {
  background-image: url("../images/webdesign.png");
}

.service-three {
  background-image: url("../images/editing.jpeg");
}

/* Portfolio */

.portfolio-section-title {
  margin-bottom: 5vh;
  text-align: center;
  display: flex;
  justify-content: center;
}

.portfolio-section {
  margin: 0 auto;
}

.carosel {
  width: 60vw;
  margin: auto;
}

.caption {
  padding: 2vh;
  background-color: black !important;
}

#carouselExampleIndicators li {
  min-width: 5vw;
}

.portfolio-webs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-web {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 5vh 2vw;
}

.portfolio-web:last-child {
  margin-top: 5vh;
}


.portfolio-content img {
  width: 40vw;
  margin-bottom: 2vh;
}

.portfolio-title {
  font-size: 3vh;
  display: flex;
  justify-content: center;
}

.portfolio-button {
  background-color: #282828;
  padding: 2vh;
  width: 15vw;
  color: white;
  display: flex;
  justify-content: center;
}

.portfolio-button a {
  text-decoration: none;
  color: white;
}

.portfolio-button:hover {
  background-color: #555555;
}

.portfolio-content:hover {
  filter: brightness(1.2);
}

.portfolio-section-title {
  font-size: 5vh;
}

#portfolio {
  height: 18vh;
}
/* Contact */

.contact-title {
  text-align: center;
  margin: 2vh;
}

.contact {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vh;
  background-color: #282828;
  color: white;
  padding: 2vh;
}

.section {
  width: 33.34%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1;
  text-align: left;
  align-items: center;
}

.section img {
  width: 5vw;
}

.section h3 {
  height: 5vh;
}

.section a {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  padding: 0.5vh;
}

.section a:hover {
  color: white;
  background-color: (0,0,0,0.2);
  text-decoration: none;
}

.booknow {
  border: 0.3vh solid white;
  padding: 0.8vh;
}

.section a:hover {
  background-color: rgba(255,255,255,0.5);
}
