html,
body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif !important;
  max-width: 100%;
}

/* Home Content */

.home {
  background-image: url("../../resources/images/junebeachside.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 5vh;
}

.home-content-container  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 10vh;
}

.jumbotron {
  background-color: rgba(40, 40, 40, 0.5) !important;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  padding: 2vw;
  width: 60vw;
}
.home-content-container h1 {
  font-size: 9vh;
  font-weight: 700;
  line-height: 1.4;
}

.home-content-container h2 {
  font-size: 5vh;
  line-height: 1.4;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

#magazine-cite {
  font-size: 2.5vh !important;
  color: #ce981f;
  background-color: rgba(40, 40, 40, 0.5);
  margin-top: 4vh;
  padding: 1vh 1vw;
  width: 30vw;
  display: flex;
  justify-content: center;
  border-radius: 1vh;
}

/* Services */

.services-section {
  background-color: white;
  width: 100%;
  margin-top: 1vh;
  padding-top: 3vh;
}

.services-content {
  color: #282828;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 8vh;
}

.service-section-title {
  font-size: 6vh;
  justify-content: center;
  display: flex;
  font-weight: 500;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5vh auto;
}

.service {
  display: flex;
  flex-direction: column;
  padding: 3vw;
  background-color: #e6e6e6;
  margin: auto 2vw;
  width: 25vw;
  justify-content: center;
}

.service h2 {
  font-size: 4vh;
  height: 7vh;
}

.service p {
  font-size: 2.5vh;
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
  text-align: left;
  margin: 2vh auto;
  height: 25vh;
}

.service-price {
  font-size: 3vh;
  line-height: 1.2;
  font-weight: 600;
}

.service-img-contaner {
  display: flex;
}

.service-img-container img {
  margin: 1vh 0 3vh 0;
  width: 100%;
}

.service-button {
  display: flex;
  justify-content: center;
  padding: 1vw;
  color: white;
  align-items: center;
  font-size: 2.5vh;
}

.service-button-background {
  background-color: #282828;
}

.service-button-background:hover {
  background-color:#555555;
  transition: all 0.1s linear;
  cursor: pointer;
}

.service-button-background a {
  text-decoration: none;
  color: inherit;
}

/* Portfolio */

.portfolio-section {
  display: flex;
  margin: 5vh auto 20vh auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.portfolio-title {
  margin: 5vh auto;
  height: 5vh;
}

.portfolio-webs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-web {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 5vh 2vw;
}

.portfolio-web:last-child {
  margin-top: 5vh;
}


.portfolio-content img {
  width: 40vw;
  margin-bottom: 2vh;
}

.portfolio-title {
  font-size: 3vh;
  display: flex;
  justify-content: center;
}

.portfolio-button {
  background-color: #282828;
  padding: 2vh;
  width: 15vw;
  color: white;
  display: flex;
  justify-content: center;
}

.portfolio-button a {
  text-decoration: none;
  color: white;
}

.portfolio-button:hover {
  background-color: #555555;
}

.portfolio-content:hover {
  filter: brightness(1.2);
}

.portfolio-section-title {
  font-size: 5vh;
}

#portfolio {
  height: 18vh;
}
/* Contact */

.contact {
  width: 100%;
  padding-top: 5vh;
  display: flex;
  justify-content: center;
  background-color: #555555;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-bottom: 5vh;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.contact-title {
  display: flex;
  justify-content: center;
  font-size: 6vh;
  font-weight: 600;
  margin-bottom: 4vh;
  color: white;
  justify-content: center;
}

.contact-sections {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.contact-section {
  display: flex;
  flex-direction: column;
  margin: 3vw;
  background-color: white;
  padding: 3vh;
  width: 20vw;
}

.contact-section h1 {
  font-size: 4vh;
  line-height: 1.3;
}

.contact strong {
  font-weight: bold;
}

.contact-section h2 {
  font-size: 2.5vh;
  line-height: 1.3;
}

.mailto {
  background-color: white;
  padding: 3vh;
  width: 21vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 4vh;
  line-height: 1.3;
  margin-top: 3vh;
}

.contact p {
  color: white;
  max-width: 70vw;
  line-height: 1.4;
  font-size: 2vh;
  margin-bottom: 15vh;
}

.contact .p {
  margin-bottom: 3vh;
}

 a {
  text-decoration: none;
}

.mailto:hover {
  background-color: #e6e6e6;
  transition: all 0.1s linear;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30vw;
  text-align: left;
  color: white;
}

form span {
  margin-left: 1vw;
}

input,
select,
textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  margin: 2vh;
}

#submit {
  background-color: #282828;
  font-size: 3vh;
  border: none;
  color: white;
}

#submit:hover {
  background-color: #525365;
  cursor: pointer;
}

.form-title {
  font-size: 4vh;
  color: white;
  margin-top: 7vh;
}

/* Footer */

footer {
  width: 100%;
  display: flex;
  border-top: 0.3vh solid black;
  font-size: 2vh;
  margin-top: 5vh;
}

footer .leftnright {
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 100%;
}

.left,
.right {
  margin: 2vh 2vw;
}

footer a:hover {
  color: #000000;
}

footer a {
  text-decoration: none;
}
