html,
body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
}

/* Header */
header {
  width: 100%;
  background-color: #282828;
  position: fixed;
  display: flex;
  height: 8vh;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#mobilenav {
  display: none;
}
nav li {
  font-size: 2vh;
  margin: auto 3vw;
}

nav {
  display: flex;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #7d7d7d;
  transition: all 0.05s linear;
}

nav a:active {
  color: #ce981f;
}
