header li {
  font-size: 1.7vh;
}

#nav {
  display: none;
}

#mobilenav {
  display: flex;
}

.pagetitle h1 {
  font-size: 3.5vh;
  text-align: center;
}

.term {
  max-width: 70vw;
}

footer {
  text-align: center;
}
