.jumbotrons {
  width: 90vw;
}

.split {
  flex-direction: column;
}

.pane {
  width: 100vw;
}

.pane .service {
  width: 90vw;
}

.justify {
  flex-direction: column;
  width: 90vw;
}

.justify .feature-part {
  width: 100%;
}
.testimonials {
  flex-direction: column;
}

.testimonial {
  width: 80vw;
}

.justify .feature-icon {
  width: 20vw;
  height: 20vw;
  margin: 2vh;
}

.testimonial img {
  width: 25vw;
  margin-bottom: 2vh;
}

.testimonial p {
  height: auto;
}

.carosel {
  width: 100vw;
  margin-bottom: 5vh;
}
