html,
body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif !important;
}

ul.features {
  list-style-type: square;
}

ul.service {
  list-style-type: none;
}
/* Home Content */

.home {
  height: 50vh;
  padding-top: 5vh;
  background-image: url("../images/webdesign.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}


.jumbotrons {
  background-color: rgba(40, 40, 40, 0.6) !important;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1vw;
  width: 30vw;
  color: white;
  margin-top: 7vh;
  text-align: center;
  border: 0.7vh white solid;
}

.jumbotrons h1 {
  font-size: 6vh;
}

.jumbotrons h2 {
  font-size: 4vh;
}

.home-content-container h1 {
  font-size: 6vh;
  font-weight: 700;
  line-height: 1.4;
}

/* Split */

.split {
  display: flex;
  flex-direction: row;
}

.pane {
  display: flex;
  flex-direction: column;
  width: 50vw;
  text-align: center;
  align-items: center;
    padding-top: 4vh;
}

.pane .service {
  width: 45vw;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#pane1 {
  background-color: #282828;
  color: white;
}

.justify {
  text-align: left;
  display: flex;
  margin-top: 3vh;
  margin-bottom: 3vh;
  flex-direction: row;
  padding: 2vh;
}

.justify .feature-icon {
  width: 5vw;
  height: 5vw;
  margin: 2vh;
}

.justify .feature-part {
  width: 50%;
  display: flex;
  justify-content: center;
}

.img-feature-part {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.justify.dark {

}

/* Portfolio */

.portfolio-section-title {
  margin-bottom: 5vh;
  text-align: center;
  display: flex;
  justify-content: center;
}

.portfolio-section {
  margin: 0 auto;
}

.carosel {
  width: 60vw;
  margin: auto;
}

.caption {
  padding: 2vh;
  background-color: black !important;
}

#carouselExampleIndicators li {
  min-width: 5vw;
}

.portfolio-webs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-web {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 5vh 2vw;
}

.portfolio-web:last-child {
  margin-top: 5vh;
}


.portfolio-content img {
  width: 40vw;
  margin-bottom: 2vh;
}

.portfolio-title {
  font-size: 3vh;
  display: flex;
  justify-content: center;
}

.portfolio-button {
  background-color: #282828;
  padding: 2vh;
  width: 15vw;
  color: white;
  display: flex;
  justify-content: center;
}

.portfolio-button a {
  text-decoration: none;
  color: white;
}

.portfolio-button:hover {
  background-color: #555555;
}

.portfolio-content:hover {
  filter: brightness(1.2);
}

.portfolio-section-title {
  font-size: 5vh;
}

#portfolio {
  height: 18vh;
}


/* Testimonials */

.testimonials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.google {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-test {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.testimonial p {
  height: 28vh;
}

.testimonial {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 5vh;
}

.testimonial img {
  width: 8vw;
}

.contactus {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
}
